.env
.env.*
.DS_Store
.next/
.vscode/

node_modules/

pnpm-lock.yaml

tsconfig.tsbuildinfo

packages/**/lib/
packages/**/dist/
packages/**/.cache/

examples/**/lib/
examples/**/dist/
examples/**/.cache/

docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp
.vercel
