.env
.DS_Store
.next/
.vscode/
pnpm-lock.yaml

node_modules/

tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo

packages/**/lib/
packages/**/dist/
packages/**/.cache/

examples/**/lib/
examples/**/dist/
examples/**/.cache/

docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp
docs-gossiplog/.vitepress/dist
docs-gossiplog/.vitepress/cache
docs-gossiplog/.vitepress/.temp

.vercel
