# fly.toml app configuration file generated for canvas-relay-server on 2024-06-26T10:44:07-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'canvas-relay-server'
primary_region = 'ewr'
kill_signal = 'SIGINT'
kill_timeout = '30s'

[build]

[env]
ANNOUNCE = '/dns4/canvas-relay-server.fly.dev/tcp/443/wss'
DEBUG = 'libp2p:circuit-relay:*'
LISTEN = '/ip4/127.0.0.1/tcp/8080/ws'

[[services]]
protocol = 'tcp'
internal_port = 8080
processes = ['app']

[[services.ports]]
port = 443
handlers = ['tls', 'http']

[services.concurrency]
type = 'connections'
hard_limit = 1024
soft_limit = 512

[[vm]]
memory = '2gb'
cpu_kind = 'shared'
cpus = 2

[[metrics]]
port = 3000
path = '/metrics'
