html {
  background-image: url('./background.jpeg');
  background-size: cover;
	background-color: #dfdfdf;
	height: 80%;
	width: 80%;
}

body {
	margin: 0;
	height: 100%;
}

.window {
  background: #8dddb9;
}

#__next {
	transform: scale(1.25);
	transform-origin: 0 0;
	height: 100%;
	display: flex;
	max-width: 1024px;
	margin: 0 12px;
	gap: 12px;
}

#messages {
	min-width: 300px;
	margin: 12px 0px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#messages .window-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;
}

#scroll-container {
	overflow-y: scroll;
	flex-grow: 1;
	height: 0px;

	display: flex;
	flex-direction: column;
}

#scroll-container ul.tree-view {
	flex-grow: 1;
}

#sidebar {
	margin: 12px 0px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 360px;
}

span.address {
	width: 68px;
	color: #777;
}

span.address-ens {
  color: #777;
	margin-right: 3px;
}
