html {
	background-image: url("./background.jpeg");
	background-size: 100vw;
	background-color: #dfdfdf;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
}

.window {
	background: #8dddb9;
}

#__next {
	height: 100%;
	width: 100%;
}

main {
	height: 80%;
	width: 80%;

	transform: scale(1.25);
	transform-origin: 0 0;

	display: flex;
	max-width: 1024px;
	margin: 0 12px;
	gap: 12px;
}

#messages {
	min-width: 300px;
	margin: 12px 0px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#messages .window-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;
}

#messages ul.tree-view {
	flex-grow: 1;
	height: 0px;
  padding: 2px;

	display: flex;
	flex-direction: column;
}

#messages ul.tree-view li {
  margin: 0;
  padding-top: 3px;
  padding-left: 6px;
}

#messages ul.tree-view li .time-ago {
  float: right;
  color: #999;
  padding-right: 4px;
}

#sidebar {
	margin: 12px 0px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-grow: 0;
}

span.address {
	width: 68px;
	color: #777;
}

span.address-ens {
	color: #777;
	margin-right: 3px;
}

#gossip-peers li,
#sync-peers li {
	display: block;
}

.last-seen {
	color: gray;
}
