@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbf5e9;
  min-height: 100vh;
}

main {
	width: max-content;
}

td {
	vertical-align: top;
}

td.content {
	width: 500px;
}

input[type="text"] {
	width: 100%;
}
