services:
  dashboard:
    init: true
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - "8000:8000"

  relay:
    init: true
    build:
      context: .
      dockerfile: Dockerfile.relay
    ports:
      - "8081:8081"
    environment:
      # 12D3KooWEaSQnJTxztTHmKmcQkDy3oScjo8ww4JCKig73XH4cmb3
      - PEER_ID=CiYAJAgBEiBGuRmK/f0LmjUOf5aGmq0McK0Y35NjYFsis/PFRDUvDhIkCAESIEa5GYr9/QuaNQ5/loaarQxwrRjfk2NgWyKz88VENS8OGkQIARJAY8+xf3UiUUVqf13Xtyo/TtuEjZZKZ07axdLxur3kPbxGuRmK/f0LmjUOf5aGmq0McK0Y35NjYFsis/PFRDUvDg==
      - LISTEN=/ip4/127.0.0.1/tcp/8081/ws
      - ANNOUNCE=/dns4/localhost/tcp/8081/ws

  bootstrap:
    init: true
    build:
      context: .
      dockerfile: Dockerfile.peer
    depends_on:
      - dashboard
    ports:
      - "8080:8080"
    environment:
      - SERVICE_NAME=bootstrap
      # - DEBUG=canvas:*
      # 12D3KooWNbCWxWV3Tmu38pEi2hHVUiBHbr7x6bHLFQXRqgui6Vrn
      - PEER_ID=CiYAJAgBEiC9yHdvmtjGZW9Q2lSLKlgmNYW9bxRK7uyo4g0aS0hFzxIkCAESIL3Id2+a2MZlb1DaVIsqWCY1hb1vFEru7KjiDRpLSEXPGkQIARJA8STx22fxKw7avM9/YjP3elT1YKBfA4wCIgnfs4yl/4G9yHdvmtjGZW9Q2lSLKlgmNYW9bxRK7uyo4g0aS0hFzw==
      # - LISTEN=/ip4/127.0.0.1/tcp/8080/ws
      - ANNOUNCE=/dns4/bootstrap/tcp/8080/ws
      # - ANNOUNCE=/dns4/localhost/tcp/8080/ws
      - MIN_CONNECTIONS=0
