@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,500;0,700&family=Space+Grotesk:wght@600;700&display=swap');

:root {
  --space-font-family: "Space Grotesk", "Instrument Sans", -apple-system, BlinkMacSystemFont, Inter, sans-serif;
  --vp-font-family-base: "Instrument Sans", -apple-system, BlinkMacSystemFont, Inter, sans-serif;
  --vp-font-family-mono: "PT Mono", ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --vp-c-text-1: rgba(72, 72, 79);
  --vp-c-text-2: rgba(235, 235, 245, 0.8);
  --vp-c-gutter: var(--vp-c-divider);
  --vp-c-bg: #fffbf3;
  --vp-c-bg-soft: #f7f3eb;
  --vp-c-bg-alt: #f7f3eb;
  --vp-sidebar-bg-color: #f7f3eb;
  --vp-button-alt-bg: #ece7e0;
  --vp-button-alt-hover-bg: #ede7dd;
}
.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-bg: #101012;
  --vp-c-bg-soft: #202126;
  --vp-c-bg-alt: #202126;
  --vp-sidebar-bg-color: #161618;
  --vp-button-alt-bg: #32363f;
  --vp-button-alt-hover-bg: #414853;
}

body {
  font-size: 17px;
  line-height: 24px;
}

pre {
  tab-size: 2;
}

.vp-doc p {
  line-height: inherit;
}
.vp-doc sup.footnote-ref {
  line-height: 1;
}
.vp-doc .footnotes-sep {
  margin-top: 60px;
}

.VPContent.is-home .named-fence-block {
  position: relative;
  display: block;
  border: 1px solid var(--vp-c-bg-soft);
  background-color: var(--vp-c-bg-soft);
  padding: 10px 24px 18px;
  max-width: 640px;
  border-radius: 13px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: scroll;
}
@media (min-width: 960px) {
  .VPContent.is-home .named-fence-block {
    /* ... */
    left: -100px;
    top: 24px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  }
}
@media (max-width: 720px) {
  .VPContent.is-home .named-fence-block {
    max-width: calc(100vw - 40px) !important;
  }
}
.VPContent.is-home .named-fence-block button.copy {
  display: none;
}
.VPContent.is-home .named-fence-block .lang {
  display: none;
}
.VPContent.is-home .named-fence-block .named-fence-filename {
  display: none;
}

.VPContent {
  font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
}
.VPContent.is-home {
  font-family: "Instrument Sans", -apple-system, BlinkMacSystemFont, Inter, sans-serif;
}
.VPContent.is-home .text {
  font-family: var(--space-font-family);
}

.VPContent h1,
.VPContent h2,
.VPContent h3,
.VPContent h4,
.VPContent h5,
.VPContent h6 {
  font-family: var(--vp-font-family-base);
}

.VPContent.is-home h1,
.VPContent.is-home h2,
.VPContent.is-home h3,
.VPContent.is-home h4,
.VPContent.is-home h5,
.VPContent.is-home h6 {
  font-family: var(--space-font-family);
}

.VPContent.is-home h2 {
  margin: 0;
  border-top: 0;
  padding-top: 4px;
}

.vp-doc h1 > .VPBadge {
  margin-top: 12px;
  margin-left: 4px;
  vertical-align: top;
  letter-spacing: -0.1px;
}

.VPContent .outline-title {
  letter-spacing: 0 !important;
}

.VPSidebar {
  padding-bottom: 20px !important; /* override default padding-bottom: 128px */
}
.VPSidebar .item h2.text {
  margin-bottom: 4px;
}
.VPSidebar .item h2.text,
.VPSidebar .items .VPLink .text,
.VPSidebar h3.text {
  font-size: 16px;
}

#VPSidebarNav {
  padding-top: 4px;
}

.VPSidebarBlogItem {
  display: block;
  line-height: 1.35;
  margin-top: 4px;
  margin-bottom: 8px;
}

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #3b5ccc 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #d694d811 50%,
    #afddd111 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
