@import url("https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap");

body {
	margin: 0;
}

/* Light mode styles (default) */
.rt-Card {
	background-color: white;
	box-shadow: 1px 1px 1px rgb(0 0 0 / 0.05);
}

/* Dark mode styles */
.radix-themes[data-theme="dark"] .rt-Card {
	background-color: var(--color-panel-solid);
	box-shadow: 1px 1px 1px rgb(0 0 0 / 0.2);
}

::-webkit-scrollbar {
	display: none;
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.radix-themes {
	--cursor-button: pointer;
	font-family: "Geist Mono", monospace;
}

.radix-themes input,
.radix-themes button,
.radix-themes h1,
.radix-themes h2,
.radix-themes h3,
.radix-themes h4,
.radix-themes h5,
.radix-themes h6,
.radix-themes pre {
	font-family: "Geist Mono", monospace;
}

.editor .cm-scroller {
	height: 600px;
	font-size: 84%;
}

.radix-themes[data-theme="dark"] {
	color-scheme: dark;
}

.radix-themes[data-theme="dark"] a {
	color: var(--gray-11);
}

.radix-themes[data-theme="dark"] .editor .cm-editor {
	color: var(--gray-10);
	background-color: var(--color-panel-solid);
}

.cm-focused {
  outline: initial !important;
}
