@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	margin: 0;
	width: 100%;
	height: 100%;
}

main {
	height: 100%;
	max-width: 960px;
	/* margin: auto; */
	padding: 2em;
}
