@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
	background-color: #fff;
}
.app-container {
  height: calc(100% - 100px);
  overflow: auto;
}

.app-header {
	background-image: linear-gradient(
		225deg,
		#32c5ff 0%,
		#b620e0 51%,
		#f7b500 100%
	);
	height: 10px;
	width: 100%;
	position: absolute;
}
.app-body {
	padding-top: 10px;
}
